name: CI

on:
  push:
    branches: [ main, master, issue-1-563ae82bc8a0 ]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  test-bun:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install deps
        run: bun install
      - name: Run tests
        run: bun test --bail

